@import "../reindeer/styles.css";

.bnd-event-welcomePanel {
    margin-top: 10%;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
}

.bnd-event-welcome {
    text-align: center;
    padding-top: 10px;
}

.v-table {
    width: 100%;
}